@model CatalogueViewModel
@using Microsoft.AspNetCore.Identity
@using System.Globalization;
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Catalogue";
}

<div class="text-center">
    <h1 class="display-4">Liste des produits</h1>
    
    <hr />
</div>
<div class="m-2">
    
    @if (Model == null || Model.Produits.Count == 0)
    {
        <h3>Aucun article disponible.</h3>
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrateur"))
        {
            <a asp-controller="Home" asp-action="ImporteProduits">Importer les produits</a>
        }
        
     }
     else
    {

        var options = Model.ListeCategories;
        <div  class="d-flex mb-2">
            <div class="mr-auto">
                <label>Filtre : 
                @Html.DropDownList("Categories", options ,"--Choisir une catégorie--",new { @onchange = "window.location.href = '/Home/Catalogue/'+this.options[this.selectedIndex].value" })
                </label>
            </div>
            <div>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrateur"))
                {

                    <a asp-controller="Home" asp-action="ProduitForm">Ajouter un produit</a>
                }
            </div>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Nom du produit</th>
                    <th scope="col">Description</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Catégorie</th>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrateur"))
                    {
                        <th scope="col">Promotion</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (ProduitCatalogue p in Model.Produits)
                {
                    var promotionEnVigueur = p.RemiseEnVigueur;
                    var prix = p.Produit.Prix;
                    var baliseImage = "";
                    if (p.Produit.Image != null)
                    {
                        baliseImage = "<img src = " + p.Produit.Image + " height=50 width=50 alt='" + p.Produit.Libelle + "'>";
                    }
                    var stylePrix = ";";
                    if (promotionEnVigueur != null && promotionEnVigueur > 0)
                    {
                        stylePrix = "color: red;font-weight: bold;";
                        prix = prix * (1 - (decimal)promotionEnVigueur / 100);
                    }
                    <tr>

                        <td>
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrateur"))
                            {
                                <a asp-area="" asp-controller="Home" asp-action="ProduitForm" asp-route-id="@p.Produit.ProduitID">@Html.Raw(baliseImage)</a>
                            }
                            else
                            {
                                @Html.Raw(baliseImage)
                            }

                            

                            

                        </td>
                        <td>
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrateur"))
                            {
                                <a asp-area="" asp-controller="Home" asp-action="ProduitForm" asp-route-id="@p.Produit.ProduitID">@p.Produit.Libelle</a>
                            }
                            else
                            {
                                @p.Produit.Libelle
                            }
                        </td>
                        <td><pre>@p.Produit.Description</pre></td>
                        <td style="@stylePrix">@prix.ToString("C2",CultureInfo.CreateSpecificCulture("fr-FR"))</td>
                        <td>@p.Produit.Categorie</td>
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrateur"))
                        {
                            <td><a asp-area="" asp-controller="Home" asp-action="ListePromotions" asp-route-produitID="@p.Produit.ProduitID">Gérer les promotions</a></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>